
body{
	margin:0;
	
}

.page-wrap{
	margin:0 auto;
	max-width:1400px; 
}
.page-wrap{
	margin:0 auto;
	max-width:1400px; 
}


@keyframes myfirst {
    	0%   {background: red; left: 0px; top: 0px;}
    	25%  {background: yellow; left: 50px; top: 0px;}
    	50%  {background: blue; left: 50px; top: 50px;}
    	75%  {background: green; left: 0px; top: 50px;}
    	100% {background: red; left: 0px; top: 0px;}
}

.text-color-teal {
	background-color: #045589;
	color: #ffffff;
}

.header-text-link {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #ffffff;
	color: #ffffff;
	font-size: 12px;
	margin-top: 10px;
}

.header-text-link:hover {
	transition: 1s;
	background-color: lightgray;
	color: #ffffff;
}

.header-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
	margin-top: 10px;
}

.header-text-button {
	font-family: Arial, Helvetica, sans-serif;
	color: #f5f3f3;
	background-color: none;
	font-weight: normal;
	font-size: 16px;
	z-index: 2;
	padding: 16px 0px;
}

.header-text-item {
	margin-right: 20px;
        cursor: pointer;
}

.header-text-item:hover {
	transition: 0.5s;
	color: #ffffff;
}

.panel-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #093c87;
	background-color: none;
	font-weight: bold;
	font-size: 32px;
	text-align: center; 
	margin-top: 65px;
	margin-bottom: 45px;
}

.panel-page-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #190b83;
	background-color: none;
	font-weight: bold;
	font-size: 35px; 
	margin-top: 35px;
	margin-bottom: 35px;
}

.panel-about-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #414142;
	background-color: none;
	font-size: 45px; 
	margin-top: 50px;
	margin-bottom: 35px;
}

.panel-hiring-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: none;
	font-size: 28px; 
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 0px;
}

.panel-figure-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #414142;
	background-color: none;
	font-size: 45px; 
	margin-top: 50px;
	margin-bottom: 10px;
}

.panel-figure-text{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: none;
	font-size: 16px; 
	margin-bottom: 35px;
}

.panel-about-text{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: none;
	font-size: 16px; 
	margin:55px;
}

.panel-title-large {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: none;
	font-weight: bold;
	font-size: 45px;
	text-align: center; 
	margin-top: 45px;
}

.sub-panel-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #093c87;
	background-color: none;
	font-weight: bold;
	font-size: 22px;
}

.steps-panel-title{
	font-family: Arial, Helvetica, sans-serif;
	color: #093c87;
	background-color: none;
	font-weight: bold;
	font-size: 22px;
	margin-top: 20px;
}

.small-text{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}


.small-text-regular{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.small-small-text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.small-sub-text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.body-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #252628;
	background-color: none;
	font-size: 16px;
	margin-top: 16px;
        text-align: left;
}

.check-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #252628;
	background-color: none;
	font-size: 18px;
	font-weight: bold;
}

.panel-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #252628;
	background-color: none;
	font-weight: strong;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.header-company-logo {
	max-width: 250px; 
	height: 75px;
}

.mobile-company-logo {
	max-width: 200px; 
	height: 60px;
	margin-left: -30px;
}

.overlay-company-logo {
	max-width: 150px; 
	height: 45px;
	margin-top: 20px;
	margin-left: 20px;
}

.overlay-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #093c87;
	font-weight: bold;
	font-size: 20px;
}

.margin-none {
	margin: 0px;
}

.top-margin-none {
	margin-top: 0px;
}

.top-margin-link {
	margin-top: 5px;
}

.top-margin-panel-body {
	margin-top: 25px;
}
	
.button-slide {
	font-family: Arial, Helvetica, sans-serif;
	background-color: none;
	color: #093c87;
	font-weight: bold;
	font-size: 24px;
	margin-left: 0px;
	margin-right: 30px;
}

.button-slide:hover {
	transition: 1s;	
}

.button-mobile-help {
	font-family: Arial, Helvetica, sans-serif;
	background-color: none;
	color: black;
	font-weight: bold;
	font-size: 19px;
	margin-top: -10px;
}

.glyphicon-margin {
	margin-top: 15px;
	margin-bottom: 3px;
}

.button-mobile-help:hover {
	transition: 1s;	
}


.button-services {
	font-family: Arial, Helvetica, sans-serif;
	background-color: none;
	color: #093c87;
	border: 1.5px solid #093c87;
	font-weight: bold;
	font-size: 16px;
	margin-left: 0px;
	margin-right: 30px;
}

.button-services:hover {
	transition: 1s;	
	border: 1.5px solid red;
}

.button-dl {
	font-family: Arial, Helvetica, sans-serif;
	color: #e50220;
	border: 1px solid lightgray;;
	font-weight: bold;
	font-size: 15px;
        margin-top: 10px;
}

.button-dl:hover {
	transition: 1s;
}

.slide-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333435;
	text-shadow: 1px 0px 0px white; 
}

.slide-large-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
	font-weight: bold;
	color: #093c87;
}

.slide-large-text-mobile {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #093c87;
}

.margin-top-bar {
	margin-top: 90px;
}

.margin-top-bar-small-screen {
	margin-top: 45px;
}

.button-tilt {
	font-family: Arial, Helvetica, sans-serif;
	color: #03308b;
	border: 3px solid #e50220;
	font-weight: bold;
	font-size: 16px;
}

.sub-panel-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #093c87;
}

.button-jobs {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	color: #093c87;
	border: 1.2px solid #093c87;
	font-weight: bold;
	font-size: 15px;
        margin-top: 10px;
	padding: 10px; 
}

.button-jobs:hover {
	transition: 1s;
}

.margin-top-jobs {
	margin-top: 15px;
}

.margin-top-panel-jobs {
	margin-top: 30px;
}

.margin-left {
	margin-left: 18px;
}

.footer-container {
	font-family: Arial, Helvetica, sans-serif;
	color: #97a9c4;
	background-color: #011535;
	font-size: 13px;
        margin-top: 30px;
}

.fa {
  	padding: 2.5px;
	font-size: 50px;
  	width: 25px;
  	height: 25px;
  	text-align: center;
  	text-decoration: none;
  	margin-top: 17px;
  	border-radius: 100%;
	border: 3px solid #ffffff;
}

.fa:hover {
    	opacity: 0.9;
	border-color: #97a9c4;
	color: #97a9c4;
}

.fa-facebook {
  	background: #011535;
  	color: #ffffff;
}
	
.panel-footer {
	font-size: 12px;
	background-color: #011535;
	text-align: left;
}

.panel-footer-small {
	font-size: 11px;
	background-color: none;
	margin: 0px; 
	align: left;
}

.panel-footer-small:hover {
	transition: 1.2s;
	cursor: pointer;
	color: #ffffff;
}

.margin-left-footer {
	margin-left: 15px;
	cursor: auto;
        font-size: 14px;
}

.footer-bottom-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.container-top-margin {
	margin-top: 40px;
}

.hamburger-menu-pos {
	margin-top: -83px;
	margin-right: -25px;
}

.hamburger-menu-style {
	background-color: white;
	color: #e50220;
}

.hamburger-menu-style:hover {
	background-color: #ffffff;
	color: #e50220;
        transition: 1.2s;
}

.div-height {
	min-height: 550px;
	
}

.div-height-2 {
	min-height: 150px;
	background-color: #ebf6f9; 	
	
}


#myBtn {
  opacity: 0.4;
  display:none;
  position: fixed;
  top: 500px;
  right: 10px;
  z-index: 9;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 15px;
}

.margin-none {
	margin: 0;
}

.margin-bottom {
	margin-bottom: 20px;
}

.footer-logo {
	margin-top: -20px; 
	margin-botto: 40px;
}

.button {
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 8px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button span:after {
  content: '\00bb';
  color: #e50220;
  font-size: 26px;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.9s;
  top: -10px;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.blue-themed-button {
	color: #093c87;
	background-color: #ffffff;
	border: 1px solid #093c87;
	font-weight: bold;
	font-size: 16px;
}

.red-themed-button {
	color: #e50220;
	background-color: #ffffff;
	border: 1px solid #e50220;
	font-weight: bold;
	font-size: 16px;
}

.lightblue-themed-button {
	color: #ffffff;
	background-color: #2586cd;
	border: 1px solid #2586cd;
	font-weight: bold;
	font-size: 16px;
} 

.oranged-themed-button {
	color: #ffffff;
	background-color: #e6a118;
	border: 1px solid #e6a118;
	font-weight: bold;
	font-size: 16px;
}

.blue-themed-button-short {
	color: #093c87;
	background-color: #ffffff;
	border: 1px solid #093c87;
	font-weight: bold;
	font-size: 14px;
}

.red-themed-button-short {
	color: #e50220;
	background-color: #ffffff;
	border: 1px solid #e50220;
	font-weight: bold;
	font-size: 14px;
}
#box-center {
   max-width: 700px;
   margin: 0 auto;
}

.help-box {
  position: relative;
  top: 0px;
  transition: 1s;
}

.help-box:hover {
  top: -10px;
}

.testimonial-panel {
	background-color: #fffeed;
}